* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.Header {
  display: flex;
  width: 100%;
  padding: 2em 2.5em;
  background-color: #a9d3e9;
  justify-content: space-between;
  align-items: center;
}
.header-input {
  width: 220px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid gray;
}
.card-section {
  width: 100vw;
  margin-inline: auto;
}
.card-container {
  padding: 1em;

  margin-top: 2em;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.card {
  display: flex;
  flex-direction: row;
}
/* 
.card-front {
   grid-area: 1 / 1 / 6 / 4;  } 
*/
.card-front img {
  border-radius: 14px;
}
.card-back {
  display: none;
}

/* Home Page */
.Home {
  background-color: #c4eafbbd;
  height: 100vh;
}
.login {
  width: 100%;
  margin-inline: auto;
}
img {
  max-width: 100%;
}
.background-image {
  margin-top: 1em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 18.2em;
  width: 100%;
  overflow: hidden;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  padding: 4em;
  margin-top: 10em;
  border-radius: 10px;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.4);
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}
.form-container input {
  display: block;
  border: 1px solid gray;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
}
button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #a9d3e9;
  color: #444;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
}

/*  Cards page */
.welcome-message {
  font-weight: 800;
  text-align: center;
  margin-top: 1em;
  font-size: 1.7em;
}